        <header
            class="sticky top-0 z-40 bg-white border-b border-[#E0E0E0] flex items-center justify-between px-10 h-16 w-full">
            <div class="flex items-center gap-4">
                <span class="material-symbols-outlined text-[#003366]" data-icon="menu_book">menu_book</span>
                <h1 class="text-lg font-black text-[#003366] font-h3">Course Interface</h1>
            </div>
            <nav class="flex gap-8">
                <a class="text-slate-500 pb-2 hover:text-[#003366] transition-colors font-sidebar-link text-sidebar-link"
                    href="courseHome.html">Home</a>
                <a class="text-slate-500 pb-2 hover:text-[#003366] transition-colors font-sidebar-link text-sidebar-link"
                    href="courseAnnouncements.html">Announcements</a>
                <a class="text-slate-500 pb-2 hover:text-[#003366] transition-colors font-sidebar-link text-sidebar-link"
                    href="courseModules.html">Modules</a>
                <a class="text-[#003366] border-b-2 border-[#003366] pb-2 font-sidebar-link text-sidebar-link"
                    href="courseAssignments.html">Assignments</a>
                <a class="text-slate-500 pb-2 hover:text-[#003366] transition-colors font-sidebar-link text-sidebar-link"
                    href="courseGrades.html">Grades</a>
                <a class="text-slate-500 pb-2 hover:text-[#003366] transition-colors font-sidebar-link text-sidebar-link"
                    href="coursePeople.html">People</a>
        </header>